@page "/idletimerpage"

@using IdleTimer.Utility.Interop

@inject NavigationManager NavigationManager
@inject IdleTimerJsInterop IdleTimerJsInterop

<h3>IdleTimerPage</h3>

@* 
    - User activity anywhere in this page, except for in the iframe, causes the timer to reset and the _idleWarningMessage is not shown.
    - When the user is idle for 5 seconds, the _idleWarningMessage is shown. 
    - When th user is active in the iframe, the timer does not reset (this is not the intended behavior, it should reset).
*@

<div>

    @* When the user is active in this iframe, a message 'iframe-user-active' sent to reset the timer *@
    <iframe src="@(NavigationManager.BaseUri + "/IFrameExample.html")"
    id="myIFrame"
    class="idle-timer-page-iframe"
    style="width: 800px; height: 800px;">
    </iframe>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await IdleTimerJsInterop.InitializeIframeTimer();
    }
}
