.idle-timer-page-iframe {
    border-style: solid;
    border-width: 3px;
    border-color: rebeccapurple;
}

.idle-timer-page-warning-message {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: black;
    color: red;
    width: 50%;
}
